<div class="fondo2">
  <div class="cuadro fondo1 cuadroChico">
    <header class="wrapHeader">
      <div class="container">
        <div class="titulo">
          <h1>
            Mi nombre es <br>Cristian Durán
          </h1>
        </div>
        <div #pcPixelArt class="imgContainerSuperior">
          <img src={{pcImage}} class="logoPC" alt="Logo PC">
        </div>
      </div>
    </header>
  </div>
  <section>
    <div class="container">
      <div class="cuadro fondo1 cuadroTexto">
        <div class="cuadroIzq">
          <h2>Tengo 24 años, soy estudiante de último año de Ingeniería Civil en Computación de la Universidad de Chile.
            <br>
            Me interesa el Desarrollo de Aplicaciones Web, actualmente experimentando con JavaScript (Node.js,
            Angular y Vue).
            A lo largo de mi carrera he cursado los siguientes ramos:
          </h2>
          <ul>
            <li>
              <h2>Algoritmos y Estructuras de Datos</h2>
            </li>
            <li>
              <h2>Taller de Programación Competitiva</h2>
            </li>
            <li>
              <h2>Programación de Software de Sistemas</h2>
            </li>
            <li>
              <h2>Bases de Datos</h2>
            </li>
            <li>
              <h2>Teoría de la Computación</h2>
            </li>
            <li>
              <h2>Metodologías de Diseño y Programación</h2>
            </li>
            <li>
              <h2>Taller de Hacking Competitivo</h2>
            </li>
            <li>
              <h2>Ingeniería de Software</h2>
            </li>
            <li>
              <h2>Arquitectura de Computadores</h2>
            </li>
            <li>
              <h2>entre otros...</h2>
            </li>
          </ul>
        </div>
      </div>
      <div class="cuadroDer fondo4">
        <div class="cuadro fotoOpacity">
          <img src={{profileImage}} id="FotoPerfil" class="fotoPerfil" alt="Cris" width="400">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="cuadro fondo1 cuadroOfProjects">
        <h3>
          Actualmente me encuentro avanzando en los siguientes proyectos:
        </h3>
        <div class="containerOfProjects">
          <ul>
            <li class="botones">
              <a href="https://magicdog12.github.io/FitPartner" class="btn project2">Fit Partner</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div>
        <div class="logo logoLinkedin">
          <a href="https://www.linkedin.com/in/cristian-dur%C3%A1n-ch%C3%A1vez-685664256/"><img src={{linkedinLogo}}
              id="LogoLinkedin" class="fotos" alt="Linkedin" width="50"></a>
        </div>
        <div class="logo logoGithub">
          <a href="https://github.com/MagicDog12"><img src={{githubLogo}} id="LogoGithub" class="fotos" alt="GitHub"
              width="50"></a>
        </div>
        <!-- <div class="logo logoCurriculum">
          <a href="https://cduran.cl/archivos/cv.pdf"><img src={{cvLogo}} id="LogoCurriculum"
              class="fotos" alt="Curriculum Vitae" width="50"></a>
        </div> -->
        <div class="logo logoFreeCodeCamp">
          <a href="https://www.freecodecamp.org/espanol/Cristian_Duran"><img src={{freecodecampLogo}}
              id="LogoFreeCodeCamp" class="fotos" alt="Free Code Camp" width="50"></a>
        </div>
      </div>
    </div>
  </section>
  <div class="cuadro fondo3 cuadroChico">
    <footer class="wrapHeader">
      <div class="container">
        <span class="spanFooter">
          Copyright Cristian Durán © 2023. Todos los derechos reservados.
        </span>
        <div id="pcPixelArt2" class="imgContainerInferior">
          <img src={{pcImage}} class="logoPC" alt="Logo PC">
        </div>
      </div>
    </footer>
  </div>
  <script src="main.js"></script>
</div>
